body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/2f/88/a9/2f88a9427474343f7275e3b8f6fcc2e1.jpg");
  background-color: #000000;
  background-size: cover;
}
.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: inline-block;
  margin: 0px 0px;
  padding: 10px 15px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  opacity: 0.8;
}
.joaodev-logo {
  width: 80px;
  position: absolute;
  top: -10px;
  left: 10px;
}
a {
  text-decoration: none;
}
figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: 5px;
}
figcaption {
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
.box {
  display: inline-block;
}
div.box img {
  margin: auto;
  border-radius: 20px;
  height: 259px !important;
  width: 175px !important;
}
div.box:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}